{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{playlist.title}}
    </div>
    {{> list-points}}
    {{> view-weather}}
    {{> add-point}}
  </div>
  <div class="column">
    {{> country-image }}
  </div>
</section>
