<form action="/dashboard/addcountry" method="POST">
  <div class="field">
    <label class="label">Country Name</label> <input class="input" type="text" placeholder="Enter Country Name" name="name">
  </div>
    <div class="field">
        <div class="control">
            <input class="radio" type="radio" name="continent" value="North America"> North America
            <input class="radio" type="radio" name="continent" value="South America"> South America
            <input class="radio" type="radio" name="continent" value="Europe"> Europe
            <input class="radio" type="radio" name="continent" value="Africa"> Africa
            <input class="radio" type="radio" name="continent" value="Asia"> Asia
            <input class="radio" type="radio" name="continent" value="Australasia"> Australasia
        </div>
    </div>
  <button class="button is-link">Add Country</button>
</form>
